---
import { Image } from "astro:assets";
const { card } = Astro.props;
---

<style>
  .archive-card {
    border-radius: 0.5rem;
    width: 60ch;
    transition: transform 0.2s ease;
  }

  .archive-card:hover {
    transform: translateY(-2px);
  }

  .archive-card:hover .archive-card-text {
    color: red;
  }

  .archive-card > a {
    text-decoration: none;
    color: #363737;
  }

  .archive-card > a:visited {
    color: #363737;
  }

  .archive-card article {
    display: flex;
    align-items: center;
  }

  .archive-card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
    overflow-wrap: break-word;
    padding: 1rem 1rem 1rem 0;
  }

  .archive-card-text p,
  .archive-card-text h3 {
    margin: 0;
  }

  .archive-card-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
  }

  .archive-card-img {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1rem;
    overflow: hidden;
    width: 35%;
    aspect-ratio: 1.6;
    border-radius: 0.5rem;
  }

  @media screen and (max-width: 768px) {
    .archive-card {
      width: 100%;
    }

    .archive-card-img {
      aspect-ratio: 1;
      height: auto;
      margin: 0.5rem 0 0.5rem 0;
    }

    .archive-card-img img {
      height: 100%;
    }
  }
</style>

<div class="archive-card">
  <a href={`/posts/${card.id}/`}>
    <article>
      <div class="archive-card-text">
        <h3>{card.data.title}</h3>
        <p>{card.data.description}</p>
        <p>{card.data.pubDate.toLocaleDateString("pt-BR")}</p>
      </div>
      <div class="archive-card-img">
        <Image
          src={card.data.image.url}
          alt={card.data.image.alt}
          inferSize={true}
          loading="eager"
        />
      </div>
    </article>
  </a>
</div>
