---
import { Image } from "astro:assets"
import Divider from "../components/Divider.astro"
import PostArticle from "../components/PostArticle.astro"
import BaseLayout from "./BaseLayout.astro"
const {frontmatter} = Astro.props
---
<style>
  .markdown-layout-img img {
    width: 100%;
    height: auto;
  }
</style>

<BaseLayout>
  <PostArticle frontmatter={frontmatter}>
    <Divider />
    <div class="markdown-layout-img">
      <Image src={frontmatter.image.url} alt={frontmatter.image.alt} inferSize={true}/>
    </div>
    <slot />
  </PostArticle>
</BaseLayout>